.header{
    height: 34vw;
    margin: 20px auto;
    background-image: url('/header_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: start;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
    animation: fadeIn 3s forwards;

    h2{
        font-size: max(4.5vw, 22px);
        font-weight: 500;
        color: white;
    }
    p{
        font-size: 1vw;
        color: white;
    }
    button{
        color: #747474;
        background-color: white;
        font-weight: 500;
        border: none;
        border-radius: 50px;
        padding: 1vw 2.5vw;
        font-size: max(1vw, 13px);
    }
}